registry=https://pkgs.dev.azure.com/TMXGlobal/_packaging/TMXGlobal/npm/registry/ 
; begin auth token
//pkgs.dev.azure.com/TMXGlobal/_packaging/TMXGlobal/npm/registry/:username=TMXGlobal
//pkgs.dev.azure.com/TMXGlobal/_packaging/TMXGlobal/npm/registry/:_password=YXFoczVmbnRnZG1oZGEzbTR4NzRlcHdiN2Zxd3J5ZXR0ZHNleGd1ZjN3aHFwYTZjczdjcQ==
//pkgs.dev.azure.com/TMXGlobal/_packaging/TMXGlobal/npm/registry/:email=paul.phillips@tmx.global
//pkgs.dev.azure.com/TMXGlobal/_packaging/TMXGlobal/npm/:username=TMXGlobal
//pkgs.dev.azure.com/TMXGlobal/_packaging/TMXGlobal/npm/:_password=YXFoczVmbnRnZG1oZGEzbTR4NzRlcHdiN2Zxd3J5ZXR0ZHNleGd1ZjN3aHFwYTZjczdjcQ==
//pkgs.dev.azure.com/TMXGlobal/_packaging/TMXGlobal/npm/:emailpaul.phillips@tmx.global
; end auth token